<aside id="stats">
  <ul>
    <li id="status">Status: </li>
    <li id="wins">Wins: </li>
    <li id="win-loss-ratio">WLR: </li>
    <li id="current-title">Current Title: </li>
    
  </ul>

</aside>
</div>
<footer id="true-footer">
    <div id="left-column">
      <!--youtube, discord, social (with clickable images), -->
      <p><a href="https://youtube.com">asdf</a></p>
    </div>
    <div id="middle-column">
      <!--Home, gallery-->
      <p>ghjk</p>
    </div>
    <div id="right-column">
      <!--questions and stuff-->
      <p>l;'\</p>
    </div>
  </footer>

  <!--JAVASCRIPT FOR NAV SCROLL-->
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
      } 
    else {
      document.getElementById("navbar").style.top = "-8vh";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>
  <!--JAVASCRIPT FOR PHONE NAVBAR-->
  <script>
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.navlinks');
    const links = document.querySelectorAll('.navlinks li');
    hamburger.addEventListener('click', () => {
      navLinks.classList.toggle("open");
    })
  </script>
</body>
</html>
