
<footer id="true-footer">
    <div id="left-column">
      <!--youtube, discord, social (with clickable images), -->
      <h3 class="footer-heading">media</h3>
      <ul id="social-list">
        <li id="discord">discord: seventown#0894</li>
        <li id="youtube"><a href="https://www.youtube.com/channel/UCfjE3cufEOn0nsSrgmtQKFA">youtube</a></li>
        <li id="instagram"><a href="https://www.instagram.com/sevaintcappin/">insta</a></li>
      </ul>
    </div>
    <div id="middle-column">
      <h3 class="footer-heading">stats</h3>
      <ul id="stats">
        <li id="status">online: </li>
        <li id="wins">wins: </li>
        <li id="title">title: gm</li>
        <li id="winstreak">current ws: </li>
      </ul>
    </div>
    <div id="right-column">
      <!--questions and stuff-->
      <p>l;'\</p>
    </div>
  </footer>

  <!--JAVASCRIPT FOR NAV SCROLL-->
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
      } 
    else {
      document.getElementById("navbar").style.top = "-8vh";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>
  <!--JAVASCRIPT FOR PHONE NAVBAR-->
  <script>
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.navlinks');
    const links = document.querySelectorAll('.navlinks li');
    hamburger.addEventListener('click', () => {
      navLinks.classList.toggle("open");
    })
  </script>

  <script>
    var status = null;
    var wins = null;
    var winstreak = null;
    
    fetch('https://api.slothpixel.me/api/players/c306b7419e954f4bb19035cbd3dcf67b') 
      .then(function(response){
        return response.json();
      })
      .then(function(data){
        status = data["online"];
        wins = data.stats.Duels.bridge_duel_wins + data.stats.Duels.bridge_doubles_wins + data.stats.Duels.bridge_four_wins + 132 + 18;
        winstreak = data.stats.Duels.current_bridge_winstreak;
        console.log(data);
        document.getElementById("status").innerHTML = "online: " + status;
        document.getElementById("wins").innerHTML = "wins: " + wins;
        document.getElementById("winstreak").innerHTML = "current ws: " + winstreak;
      })
  </script>
</body>
</html>
